
<!DOCTYPE html>
<html>
<head>
<title>SmartClickR | Poll Response</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" href="/css/landing.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.9.2.custom.min.css">
<!-- Add Jquery //-->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js">
</script>
<!-- Add Bootstrap Library //-->
<script type="text/javascript" src="/bootstrap/bootstrap.min.js">
</script>
<!-- D3 Library-->
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js">
</script>
<!-- D3 Scripts-->
<!-- include file -->
<!-- script(type='text/javascript', src='/javascript/d3/filename.js')-->
<!-- Add Less //-->
<script type="text/javascript" src="/less.js">
</script>
<noscript>
<div id="no-js" class="modal"> <div class="modal-header">
<p>JavaScript has been turned off.</p>
<p>Please enable to view full site and get full use of our product. </p>
</div>
<div class="modal-footer">
<a href="http://www.enable-javascript.com" target="_blank"> This article can tell you why Javascript is important and how to turn it on</a>
</div>
</div>
<div class="modal-backdrop">
</div>
</noscript>
</head>
<body>
<body id="landing-page">
<!-- Header Content //-->
<div id="landing-pad" class="hidden-phone">
</div>
<div id="landing-container">
<div class="container">
<div class="row-fluid">
<div class="span12">
<div id="hero">
<div id="hero_content_response" class="span6 offset3">
<span id="question-wrap" class="span12">
<h4 id="question-number">Question {{QNo}}</h4>
<h3 id="question-content">{{stem}}</h3>
</span>
<div class="clear">
</div>
<form id="response-form" ng-submit="submitQ()" class="clearfix">
<div id="num-container">
<textarea name="response" ng-input="answer" placeholder="Type in your response" id="numericresponse" class="n_response span12">
</textarea>
<script>$(".n_response").focus();</script>
</div>
<div id="next" class="span12">
<input type="submit" id="Numeric_response" value="Next Question &rarr;" ng-input="answer" class="btn btn-large btn-info">
<!--span Question #{locals.qdata[0].QuestionsOrder} of #{locals.qdata[0].QuestionOrder.length-1});-->
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
<script src="/javascript/randomBackground.js">
</script>
<script src="/javascript/views/response.min.js">
</script>
</body>
</html>