
<!DOCTYPE html>
<html>
<head>
<title>SmartClickR | This page got lost</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/404.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/account.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css" media="screen">
<!-- Add Jquery //-->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js">
</script>
<script type="text/javascript" src="/bootstrap/bootstrap.min.js">
</script>
<script type="text/javascript" src="less.js">
</script>
<noscript>
<div id="no-js" class="modal"> <div class="modal-header">
<p>JavaScript has been turned off.</p>
<p>Please enable to view full site and get full use of our product. </p>
</div>
<div class="modal-footer">
<a href="http://www.enable-javascript.com" target="_blank"> This article can tell you why Javascript is important and how to turn it on</a>
</div>
</div>
<div class="modal-backdrop">
</div>
</noscript>
</head>
<body>
<body onload="play_game()">
</body>
<!-- Header Content //-->
<header class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
<span class="icon-bar">
</span>
<span class="icon-bar">
</span>
<span class="icon-bar">
</span>
</a>
<a href="#/" class="brand">SmartClickr</a>
<div class="nav-collapse">
<ul class="nav pull-right">
<li class="active">
<a id="home" href="#/">Return Home</a>
</li>
</ul>
</div>
</div>
</div>
</header>
<div class="top-pad hidden-phone">
</div>
<div id="hero" class="clearfix">
<div class="container">
<div class="row-fluid">
<div class="span8 offset2">
<h1 class="title">This page got lost</h1>
</div>
</div>
<div class="clear dropshadow">
</div>
</div>
</div>
<section id="error-container" class="container clearfix">
<div class="row-fluid">
<div class="span8 offset2">
<div id="error-content">
<article id="error_main">
<section class="explain clearfix">
<p>We hope ninjas didnt steal this page. That would be bad. If that is the case it may never be found. </p>
<p>Otherwise, someone on our team is to blame for this error. Rest assured that the proper amount of blame and humiliation has been dealt to them. </p>
<p class="error-actions">
<span>
<a href="#/contact" class="btn btn-info btn-large">Contact</a>
</span>
<span>
<a href="#/" class="btn btn-info btn-large">Home</a>
</span>
</p>
<p class="snake visible-desktop">In the meantime, you can play snake to release any anger you may be feeling</p>
<div id="msg" class="visible-desktop">
</div>
<canvas id="c" width="400" height="400" style="display: none" class="visible-desktop">Yikes your bowser does not support HTML5. </canvas>
</section>
</article>
</div>
</div>
</div>
</section>
<script src="/javascript/snake.js">
</script>
</body>
</html>