
<!DOCTYPE html>
<html>
<head>
<title>SmartClickR | Lets Present</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" href="/css/landing.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.9.2.custom.min.css">
<!-- Add Jquery //-->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js">
</script>
<!-- Add Bootstrap Library //-->
<script type="text/javascript" src="/bootstrap/bootstrap.min.js">
</script>
<!-- D3 Library-->
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js">
</script>
<!-- D3 Scripts-->
<!-- include file -->
<!-- script(type='text/javascript', src='/javascript/d3/filename.js')-->
<!-- Add Less //-->
<script type="text/javascript" src="/less.js">
</script>
<noscript>
<div id="no-js" class="modal"> <div class="modal-header">
<p>JavaScript has been turned off.</p>
<p>Please enable to view full site and get full use of our product. </p>
</div>
<div class="modal-footer">
<a href="http://www.enable-javascript.com" target="_blank"> This article can tell you why Javascript is important and how to turn it on</a>
</div>
</div>
<div class="modal-backdrop">
</div>
</noscript>
</head>
<body>
<body id="landing-page">
<!-- Header Content //-->
<header class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
<span class="icon-bar">
</span>
<span class="icon-bar">
</span>
<span class="icon-bar">
</span>
</a>
<a href="/" class="brand"> 
SmartClickr<span> alpha</span>
</a>
<div class="nav-collapse">
<ul class="nav pull-right">
<li class="active">
<a id="home" href="/">Home</a>
</li>
</ul>
</div>
</div>
</div>
</header>
<div class="clear">
</div>
<div id="landing-pad" class="hidden-phone">
</div>
<div id="landing-container">
<div class="container">		<div class="row-fluid">					<div id="hero_content" class="span8 offset2">
<h3 id="sessionCode">Session Code: hVUf</h3>
<h3 id="poll-name">whel[p</h3>
<p id="poll-desc" class="clearfix">
</p>
<p id="actions">
<a id="starting-question" href="/user/63/poll/139/question/present/undefined" class="btn btn-success btn-large">Let's Go  &rarr;</a>
</p>
</div>
</div>
</div>
</div>
</body>
</body>
</html>